** {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(91.12deg, #1e4b94 0.52%, #e0e3e7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #e2e6ed -2.14%, #1e4b94 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #111113;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 150px;
    height: 50px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}



/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
  

}


/* HEADER */
  
.chatbox__header {

    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--primaryBoxShadow);
    background: var(--primaryGradient);
    color: white
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(9, 34, 135);
  }
/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}


.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}


/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}


.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    max-width: 95%; 
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 90%;
}

.messages__item--visitor{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: #5050df;
        color: white
}
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */

.send__button {
    margin-right: auto;
    background-color: #7dabdc; /* Blue */
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.chatbox__send--footer.send__button:hover {
    background-color: #0f3e70; /* Darker Blue */
}

.attach__button {
    position: absolute;
    right: 93px; /* Adjust the position as needed */
    border-radius: 50%;
    border: none; 
}

.chatbox__send--footer {
    color: white;
    margin-left: auto; /* Push send button to the right */
}

.chatbox__attach--footer.attach__button:hover {
    background-color: #97a5b5; /* Darker Blue */
}

.chatbox__support {
    background: #f9f9f9;
    height: 510px;
    width: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.chatbox__footer {
    padding: 10px;
    background: var(--primaryGradient);
        border-top: 1px solid #ccc; /* Border to separate footer */
        display: flex;
        align-items: center;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}


.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

